ion-content {
    --background: none
}
ion-card {
    --background: white;
}

ion-item{
    --background: var(--ion-color-tertiary);
    --color: #fff;
}

ion-button{
    --background: var(--ion-color-tertiary-shade);
}
ion-row {
    justify-content: center;
 }

a {
    color: rgb(4, 21, 255);
    text-decoration: none;
}